.mobile-container {
  display: grid;
  gap: 1rem;
  padding: 1rem 1rem 0;
  grid-template-areas:
    "a b" "c b" "d d" "e f" "e g" "h h";
  aspect-ratio: 1/3;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}
