<div class="home" [ngStyle]="{'flex-direction': currentBreakpoint=='mobile' ? 'column': 'row'}">
  @if (currentBreakpoint!='mobile'){
    <app-sidenav [isOpen]="isOpen" (togglePressEvent)="toggleSidenav()" [tags]="tags"></app-sidenav>
    <div class="grid">
      @defer (){
        <app-decor-grid [blogPosts]=blogPostsToSend [isOpen]="isOpen" > </app-decor-grid>

      } @loading (minimum 2s){
        <app-spinner></app-spinner>
      }
    </div>
  } @else {
    <app-sidenav-mobile [isOpen]="isOpen" (togglePressEvent)="toggleSidenav()" [tags]="tags"></app-sidenav-mobile>
    <div class="grid">
      @defer (){
        <app-decor-grid-mobile [blogPosts]=blogPostsToSend [isOpen]="isOpen"> </app-decor-grid-mobile>

      } @loading (minimum 2s){
        <app-spinner></app-spinner>
      }
    </div>
  }
</div>
