<div class="home">
  @switch (currentBreakpoint){
    @default {
      <app-sidenav></app-sidenav>
      <div class="grid">
        @defer (){
          @for (chunk of blogPostsToSend; track blogPostsToSend) {

            <app-decor-grid [blogPosts]=chunk> </app-decor-grid>
          }
        } @loading (minimum 2s){
          <app-spinner></app-spinner>
        }
      </div>
    }
    @case ('mobile'){
      <app-sidenav></app-sidenav>
      <div class="grid">
        @defer (){
          @for (chunk of blogPostsToSend; track blogPostsToSend) {

            <app-decor-grid [blogPosts]=chunk> </app-decor-grid>
          }
        } @loading (minimum 2s){
          <app-spinner></app-spinner>
        }
      </div>
    }

  }


</div>
