.nav-container{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;


  .hamburger-container{
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;

    button{
      background-color: var(--primary-color);
      border-width: 0;
    }

    .material-symbols-outlined{
      font-size: 3rem;
      width: fit-content;
      height: fit-content;
      color: white;

    }
  }

  .filters{
    height: 70px;
    color: white;
    padding: 0 10px 0 10px;
    p{
      margin-bottom: 5px;
    }
    .tag-container{
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      justify-content: center;
    }
  }


}

