.container {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 0;
  grid-template-areas:
    "a b c d e" "a f f g e" "h i j k k";
  aspect-ratio: 5/3;

  div {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

.i {
  grid-area: i;
}

.j {
  grid-area: j;
}

.k {
  grid-area: k;
}
