.tag-box{
  border-radius: 1rem;
  background-color: white;
  width: fit-content;
  height: fit-content;
  color: #656565;
  margin: 3px 0 3px 6px;
  p {
    font-size: small;
    padding: 2px 5px;
  }
}
