.tag-box{
  border-radius: 1rem;
  background-color: white;
  width: fit-content;
  min-width: 58px;
  height: fit-content;
  color: #656565;
  margin: 3px;
  padding: 3px;
  p {
    font-size: small;
    text-align: center;
  }
}
